

    /**GLOBAL CHANGES / LAYOUT**/

#container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;;
    width: 800px;
    border-radius: 25px;
    background-color: #FFFCF8;
    height: auto;
    
}

#head {
    text-align: center;
    
}

#name, #email, #number {
    width: 300px;
    position: relative;
    left: 325px;    
}

#survey-form {
    display: block;
    text-align: right;
    width: 325px;
    margin: 0;
    height: auto;
}

select {
    position: relative;
    left: 325px;
    width: 300px;
}

#radiobox {
    position: relative;
    left: 125px;
    bottom: 15px;
    height: auto;  
    font-family: 'Raleway', sans-serif;
    
}

input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

#cbox {
    position: relative;
    left: 85px;
    font-family: 'Raleway', sans-serif;
}

input[type="checkbox"] {
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    position: relative;
    top: 35px;    
}

#comment {
    
    position: relative;
    left: 225px;
    margin-left: auto;
    margin-right: auto;
    
}

textarea {
    display: block;
    resize: none;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    width:590px;
}


    /**STYLING SECTION**/


:root {
        background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-attachment: fixed;
}

img {
    width: auto;
    height: 150px;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
}

h1, p {
    color: #F0F0F0; 
}

h1 {  
   font-family: 'Lato', sans-serif;
   font-weight: 200;
   font-size: 30px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

hr {
    position: relative;
    bottom: 10px;
    width: 900px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1b1b1b;
  
}


#name, #email, #number, #dropdown, textarea {
    border-radius: 20px;
    border: 1px solid #bababa;
    background-color: #dbdbdb;
    padding: 5px 5px 5px 10px;  
}

h3 {
    font-family: 'Lato', sans-serif;
   color: black;
   font-size: 25px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
}

#submit {
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 30px;
    position: relative;
    left: 100px;
    border: 1px #525252 solid;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    height: 40px;
    width: 600px;
}

#bar {
    height:620px;
    width: 1px;
    background-color: #9e8e00;
    position: absolute;
    margin-left: 330px;
    margin-top: 20px;
}

input[type="radio"], input[type="checkbox"], #dropdown, button, textarea {
    cursor: pointer;
}

.highlight:focus {
  box-shadow: 0 0 0 2px rgb(182, 143, 13);
  outline: none;
}

#submit:hover {
    background-color: rgba(182, 143, 13, 0.733);
    color: black;
}


